<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestCompose"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ListPaneScaffoldActivity"
            android:exported="false"
            android:label="@string/title_activity_list_pane_sacaffold"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".SafeNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_safe_navigation"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".ExpandContentActivity"
            android:exported="false"
            android:label="@string/title_activity_expand_content"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".CustomDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_custom_drawer"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".CategorizedListActivity"
            android:exported="false"
            android:label="@string/title_activity_categorized_list"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".SwipeActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".ContextDropDownActivity"
            android:exported="false"
            android:label="@string/title_activity_context_drop_down"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".LottieActivity"
            android:exported="false"
            android:label="@string/title_activity_lottie"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".SliderActivity"
            android:exported="false"
            android:label="@string/title_activity_slider"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".StateActivity"
            android:exported="false"
            android:label="@string/title_activity_state"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_download"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".CompassActivity"
            android:exported="false"
            android:label="@string/title_activity_ad_mob"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".IntrisecActivity"
            android:exported="false"
            android:label="@string/title_activity_intrisec"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".ConstraintActivity"
            android:exported="false"
            android:label="@string/title_activity_constraint"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".ComplexActivity"
            android:exported="false"
            android:label="@string/title_activity_complex"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".CustomLayoutActivity"
            android:exported="false"
            android:label="@string/title_activity_custom_layout"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".ListaActivity"
            android:exported="false"
            android:label="@string/title_activity_lista"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".LayoutsActivity"
            android:exported="false"
            android:label="@string/title_activity_layouts"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".DialogActivity"
            android:exported="false"
            android:label="@string/title_activity_dialog"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".AdMobActivity"
            android:exported="false"
            android:label="@string/title_activity_admob"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".InterstitialAdActivity"
            android:exported="false"
            android:label="@string/title_activity_interstialad"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".DocumentScannerActivity"
            android:exported="false"
            android:label="@string/title_activity_documentscanner"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:label="@string/title_activity_camera"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".BiometricActivity"
            android:exported="false"
            android:label="@string/title_activity_biometric"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".PullToRefreshActivity"
            android:exported="false"
            android:label="@string/title_activity_pulltorefresh"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".CopyPasteActivity"
            android:exported="false"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".TextFieldActivity"
            android:exported="false"
            android:label="@string/title_activity_textfield"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".SwipeToDeleteActivity"
            android:exported="false"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".ShortcutActivity"
            android:exported="true"
            android:label="@string/title_activity_shortcuts"
            android:theme="@style/Theme.TestCompose" />
        <activity
            android:name=".MasterActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.TestCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>